html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h1 {
  font-size: 48px;
  background: -webkit-linear-gradient(45deg, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

hr {
  width:100px;
  background-image: linear-gradient(45deg, #ff5f6d, #ffc371);    
  height: 3px;
  margin-top: 40px;
  margin-bottom: 40px;
}

p {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 200;
  color: #444;
}

a, a:visited {
  -webkit-transition: color .2s linear;
  -moz-transition: color .2s linear;
  -ms-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
  color: #444 !important;
}

a:hover, a:active {
  color: #ff5f6d !important;
  text-decoration: none !important;
}

li {
  font-size: 14px;
  font-weight: 600;
}
