<footer class="site-footer">

  <div class="wrapper">

    <hr>
    <p class="text">{{ site.description }}</p>
    <ul class="contact-info">
        <li><a href="https://github.com/steffendsommer" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
        <li><a href="http://stackoverflow.com/users/4145708/steffen-d-sommer" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i> Stack Overflow</a></li>
        <li><a href="https://www.linkedin.com/in/steffendsommer" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
        <li><a href="https://twitter.com/steffendsommer" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
        <li><a href="mailto:steffendsommer@icloud.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
    </ul>
  </div>

</footer>
