<header class="post-site-header">

  <div class="wrapper">

    <div clsss="post-header">
      <div class="post-logo">
        <a href="/"><img src="/assets/logo.png" width="50" height="50"></a>
      </div>

      <div class="site-nav">
        {% assign pages = site.pages | sort:"weight"  %}
        {% assign current = page.url | downcase | split: '/' %}
        {% for p in pages %}
          {% unless p.exclude %}
            {% if p.title %}
            <a class="page-link{% if current[1] == p.group or (current.size == 0 and p.group == 'blog') %} active{% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>

  </div>

</header>
