/**
* Site header
*/
.site-header {
    min-height: 56px;
    margin-top:50px;
    margin-bottom:50px;
    
    // Positioning context for the mobile navigation icon
    position: relative;
    
    .wrapper {
        text-align:center;
    }
}

.post-site-header {
    min-height: 36px;
    margin-top:20px;
    margin-bottom:20px;
    
    // Positioning context for the mobile navigation icon
    position: relative;
    
    .wrapper {
        text-align:center;
    }
}

.post-logo {
    margin-bottom:10px;
}

.site-title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 56px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight:50;

    @include media-query($on-palm) {
        font-size: 32px;
    }
}

.tagline {
    color: $grey-color;
}

.site-nav {
    .page-link {
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 15px;
        }
    }
    
    .page-link.active {
        border-width:0px 0px 1px 0px;
        border-style:solid;
        border-color:$grey-color;
        padding-bottom:5px;
    }
}



/**
* Site footer
*/
.site-footer {
    margin-top:$spacing-unit;
    padding: $spacing-unit 0;
    
    hr {
        border: 0;
        height: 1px;
        background: $grey-color;
        margin-bottom:10px;
    }
    
    p {
        font-size:14px;
        color: $grey-color;
    }
    
    ul {
        margin-left:0px;
        list-style: none;
        font-size:14px;
        
        li {
            display:inline;
            padding-right:15px;
        }
    }
}



/**
* Page content
*/
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    
    > li {
        &:not(:last-child) {
            margin-bottom: 100px;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align:center;
    font-style: italic;
}

.post-link {
    display: block;
    font-size: 32px;
}

.related-content {
    h1 {
        margin-top:50px;
    }
}

#share {
    margin-top:50px;
    text-align:center;
    p {
        font-size:14px;
        color: $grey-color;
    }
    
    ul {
        margin-left:0px;
        list-style: none;
        font-size:14px;
        
        li {
            display:inline;
            padding-right:15px;
        }
    }
}



/**
* Posts
*/
.post-header {
    text-align:center;
    margin-bottom:$spacing-unit;
}

.post-headline-info {
    text-align:center;
    margin-bottom:$spacing-unit;
    
    h2 {
        margin-bottom:0px;
    }
}

.post-title {
    font-size: 42px;
    margin-bottom:0px;
}

.post-details-title {
    font-size: 52px;
    margin-bottom:0px;
}

.post-content {
    img, iframe {
        margin-top:$spacing-unit;
        margin-bottom:$spacing-unit;
        margin-left:auto;
        margin-right:auto;
        display: block;
    }
    
    h1 {
        font-size:32px;
        margin-top:50px;
        margin-bottom:10px;
    }
    
    h2 {
        font-size:24px;
        margin-top:30px;
        margin-bottom:8px;
    }
    
    h3 {
        margin-bottom:5px;
        margin-top:30px;
    }
    
    p {
        // margin-bottom:40px !important;
    }
}

#disqus_thread {
    margin-top:80px;
    padding:20px;
    background-color: #f8f8f8;
}

.badge {
    display: inline-block;
    padding: .30em .6em;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .40rem;
    color: #fff;
    font-size:85%;
    background-color: $brand-color;
        
    &:hover {
        color: white;
        background-color: $brand-color-light;
    }
}

.older-posts {
    margin-top:70px;
    text-align:center;
}


/**
* Posts archive
*/
.archive {
    ul:not(:last-child) {
        margin-bottom:50px;
    }
}



/**
* Talks
*/
.talks {
    ul:not(:last-child) {
        margin-bottom:50px;
    }
}



/**
* Projects
*/
.project-list {
    margin-left: 0;
    list-style: none;
    
    li {
        float:left;
        width: 25%;
        height:25%;
        overflow: hidden;

        img {
        	-webkit-transform: scale(1);
	        transform: scale(1);
	        -webkit-transition: .3s ease-in-out;
	        transition: .3s ease-in-out;
        }
    }

    li:hover img {
    	-webkit-transform: scale(1.2);
	    transform: scale(1.2);
    }
}

.screens {
    text-align:center;
}

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.rslides_tabs {
    list-style:none;
    margin: 0 auto;
    margin-bottom:$spacing-unit;
    
    li {
        margin:0px 8px 0px 8px;
        display:inline-block;
    }
    
    .rslides_here {
        border-width:0px 0px 1px 0px;
        border-style:solid;
        border-color:$grey-color;
        padding-bottom:2px;
    }
}


/**
* CV
*/

.cv {
    .site-header {
        margin-top:35px;
        margin-bottom:5px;
    }
    
    .site-title {
        line-height:normal;
        font-size:48px;
    }
    
    .page-content {
        padding-top:0px;
    }
    
    h1 {
        font-size:24px;
        margin-top:50px;
        margin-bottom:10px;
    }
    
    h2 {
        font-size:22px;
        margin-bottom:0px;
    }
    
    h3 {
        font-size:18px;
        margin-bottom:5px;
    }
    
    h4 {
        font-size:16px;
        color:$grey-color;
        padding:0px;
        margin-bottom:5px;
    }
    
    .page-content p {
        margin-bottom: 30px;
        font-size:14px;
    }
    
    .page-content ul {
        line-height:1.5;
        font-size:14px;
    }

    p.summary {
        margin-bottom:10px;
    }
    
    .keywords {
        font-size:12px;
        color:$grey-color;
        font-style:italic;
    }
    
    .contact-info {
        text-align:center;
        margin-bottom:30px;
        
        ul {
            margin:0px;
            list-style: none;
            font-size:14px;
            
            li {
                display:inline;
                padding-right:15px;
            }
        }
    }
}
