<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    
    <div class="cv">
        
        <header class="site-header cv">
            
            <div class="wrapper">
                
                <p class="site-title">{{ site.title }}</p>
                <p class="tagline">{{ site.subtitle }}</p>
                
            </div>
            
        </header>
        
        <div class="page-content">
            <div class="wrapper">
                {{ content }}
            </div>
        </div>
        
    </div>
    
    
</body>

</html>
