---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% include share.html %}

  {% include disqus.html %}
  
  <div class="related-content">
    {% if page.related-posts %}
    <h1>Related posts</h1>
    <ul>
    {% for p in page.related-posts %}
      {% assign results = site.posts | where:"id", p %}
      {% assign post = results[0] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></li>
    {% endfor %}
    </ul>
    {% endif %}
    
    {% if page.related-talks %}
    <h1>Related talks</h1>
    <ul>
    {% for p in page.related-talks %}
      {% assign results = site.talks | where:"id", p %}
      {% assign talk = results[0] %}
      <li><a href="{{ talk.url }}">{{ talk.title }}</a> <span class="post-meta">{{ talk.event-date | date: "%b %-d, %Y" }}</span></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>

</div>
