---
layout: default-layout
---
<div class="project">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %Y" }}{% if page.role %} - {{ page.role }}{% endif %}{% if page.company %} at <a href="{{ page.companyurl }}" target="_blank">{{ page.company }}</a>{% endif %}{% if page.refurl %} - <a href="{{ page.refurl }}" target="_blank">Project website</a>{% endif %}</p>
  </header>

  <article class="post-content">
  	<div class="screens">
	  	<ul class="rslides">
	  		{% for img in page.screens %}
	  	  <li><img src="{{ img }}" alt=""></li>
	  	  {% endfor %}
	  	</ul>
  	</div>

    {{ content }}
  </article>

</div>
